---
import BlogLayout from "../layouts/BlogLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import MyTags from "../components/MyTags.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const latestPosts = allPosts.slice(0, 5);

const title = "Park Newsletter";
const subtitle = "Blog posts";
---

<BlogLayout title={title} subtitle={subtitle}>
    <div slot="main-text">
        <p>
            ignore the html, this is not a blog. this is the <b
                >park newsletter</b
            > and my main goal here is to create a micro collection of all my writings,
            reviews, recaps, and recommendations. each area of the park represents
            a different interest of mine. If you get lost, don't worry. Your friendly
            neighborhood theme park owner has you covered
        </p>
        <ul>
            <li>
                <a href="/tags/anime">Theatre</a>: recaps and reviews on anime
                i'm watching
            </li>
            <li>
                <a href="/tags/music">concert stage</a>: music and idol groups
                of various genres
            </li>
            <li>
                <a href="/tags/games">midway</a> video game logs and reviews, horror
                and otome censored
            </li>
            <li>
                <a href="tags/art">carousel</a>: art projects, i mostly like to
                build miniatures and write gay song lyrics but who knows what
                else adhd will lead me into
            </li>
        </ul>
        <p>
            <mark
                >hit me up in <a
                    href="http://users3.smartgb.com/g/g.php?a=s&i=g36-39145-c7"
                    >the souvenir shop!</a
                ></mark
            >
        </p>
    </div>

    <div slot="full">
        <h1>Latest Posts</h1>
        <div class="posts-grid">
            {
                latestPosts.map((post) => (
                    <BlogPost
                        url={`/posts/${post.slug}/`}
                        title={post.data.title}
                        image={post.data.image}
                    />
                ))
            }
        </div>

        <p class="more-link">
            <a href="/posts/1">View all posts →</a>
        </p>
    </div>

    <div slot="tags">
        <h1>All Post Tags</h1>
        <MyTags />
    </div>
</BlogLayout>
