---
import UmaLayout from "../../layouts/UmaLayout.astro";
import Music from "../../components/widget/Music.astro";

const title = "Mayano Top Gun";
const cardname = "Scramble ☆ Zone";
const date = "07-28-2025";
const rank = "★★★";
const racetype = "turf, med, long";
const strat = "front, (meta) pace";
const potential = "3";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1023_102301.png";
---

<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>77</td>
                <td></td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>106</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Power</td>
                <td>71</td>
                <td></td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>101</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>95</td>
                <td></td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>Flashy☆Landing</td>
                    <td
                        >If on the final stretch, at least in third place, and
                        blocked by an uma for at least 2 seconds
                    </td>
                    <td
                        >Increase target speed 25% and acceleration by 30% for 5
                        sec</td
                    >
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20022.png"
                        /></td
                    >
                    <td>Breath of Fresh Air</td>
                    <td
                        >If on the final stretch, at least in third place, and
                        blocked by an uma for at least 2 seconds
                    </td>
                    <td
                        >Increase target speed 25% and acceleration by 30% for 5
                        sec</td
                    >
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20011.png"
                        /></td
                    >
                    <td>Leader's Pride </td>
                    <td
                        >If front runner, pass wit check, early race but 5
                        seconds in, and one uma has overtaken you
                    </td>
                    <td>Increase target speed 15% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Deep Breaths</td>
                    <td
                        >If long distance, wit check passed and on random
                        straight
                    </td>
                    <td>Stamina recovery by 1.5%</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Nimble Navigator</td>
                    <td
                        >If wit check passed, hp is above 1, on the last spurt,
                        and blocked for at least one second
                    </td>
                    <td
                        >Increase acceleration 20% and lane movement speed by
                        .5% for 3 sec</td
                    >
                </tr>
            </table>
        </div>
    </div>
    <div slot="box-right">
        <h3>URA Build</h3>
        <ul>
            <li>
                <b>Goal stats:</b> - 750 speed, 800-900 (3 gold) or max stam, 650
                power, 400 guts, 400 wit
            </li>
            <li><b>Support Recs:</b></li>
            <div class="small">
                <!--images for support cards here -->
            </div>
            <li>
                <b>Parents:</b>
            </li>
            <li>
                <b>legacy sparks:</b>3★ Front Runner,
            </li>
            <li>
                <b>Skills:</b><ul>
                    <li></li>
                </ul>
            </li>
        </ul>
        <h3>other notes</h3>
        <ul>
            <li>
                I wasn't able to win URA with her until I ran her as a front
                runner, and I have decent pace chaser cards. I'm not saying it's
                a hard strategy, I'm just saying don't rule out front runner
                just bc you need to boost it with legacies.
            </li>
        </ul>
    </div>
    <div slot="the-whole">
        <h3>URA Schedule</h3>
        <ul>
            <li>
                <b>12</b> Participate in the Junior Make Debut [Turf – 2000m – Medium]
            </li>
        </ul>
        <h4>classic year</h4>
        <ul>
            <li><b>37</b> Have at least 10000 fans</li>
            <li>
                <b>44</b>Place 3rd or better in the Kikuka Sho [G1 – Turf –
                3000m – Long]
            </li>
            <li>
                <b>48</b>Place 3rd or better in the Arima Kinen [G1 – Turf –
                2500m – Long]
            </li>
        </ul>
        <h4>senior year</h4>
        <ul>
            <li>
                <b>54</b>Place 2nd or better in the Hanshin Daishoten [G2 – Turf
                – 3000m – Long]
            </li>
            <li>
                <b>56</b>Place 3rd or better in the Tenno Sho (Spring) [G1 –
                Turf – 3200m – Long]
            </li>
            <li>
                <b>60</b>Place 3rd or better in the Takarazuka Kinen [G1 – Turf
                – 2200m – Medium]
            </li>
            <li>
                <b>68</b>Place 1st in the Tenno Sho (Autumn) [G1 – Turf – 2000m
                – Medium]
            </li>
            <li>
                <b>72</b>Place 1st in the Arima Kinen [G1 – Turf – 2500m – Long]
            </li>
        </ul>
    </div>
    <div slot="the-whole2">
        <img
            src="https://64.media.tumblr.com/402fa20f3178e6d096a3d4b3e4d67c33/76f6621c96c1ea9f-94/s540x810/560fbd1d943616864de1d4972f2742948ce23318.pnj"
        />
        <p>
            Nothing against Mayano or her fans - I am not judging anyone who
            sees her differently. I just can't rid myself of the ick with her writing.
            Like as a kiddo I think I would have loved her character of wanting
            to be mature and grown up. I even think it's still charming and
            nostalgic a bit as an adult. But I just wish she didn't literally
            insist on dating me and then having my character be like "I may be
            the adult here but who am I to disagree with a teenager". Come on
            man.
        </p>

        <p>
            For her character I also think it's pretty funny that she doesn't do
            any goals in her junior year and they're all stacked her senior
            year. She just refuses to participate as anything other than a
            senpai.I know it technically follows her irl racing career - but i'm reading into it for fun.
        </p>
        <img src="/umpd/mttwinkly.webp">
        <p>
            Really, she is cute... but she just didn't translate that well to
            me. Maybe I'm not the right audience? Maybe I'm too jaded? Maybe I'm
            overprotective because I work with kids. Or maybe JP gatcha is so
            used to writing these games like dating sims that it's hard to make
            real characters that you "collect" outside of the idea of being
            romantically invovled with them. idk man. umapyoi or some shit.
        </p>
        <img
            src="https://64.media.tumblr.com/c5360dfcefdaf26c17a5cae02f394d14/76f6621c96c1ea9f-bf/s540x810/dbddcf62626d4696fb8cd570d2481f2fc175d22a.pnj"
        />
        <p>
            Divs sourced from <a href="https://www.tumblr.com/dollywons"
                >@dollywons</a
            >
        </p>
    </div>
</UmaLayout>
