---
import UmaLayout from "../../layouts/UmaLayout.astro";

const title = "Mihono Bourbon";
const cardname = "MB-19890425";
const date = "08-17-2025";
const rank = "★★★";
const racetype = "turf, medium";
const strat = "front";
const potential = "3";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1026_102601.png";
---

<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>96</td>
                <td></td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>72</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Power</td>
                <td>92</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>102</td>
                <td></td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>88</td>
                <td></td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>G00 1st. F∞;</td>
                    <td
                        >If on the final corner, no bad start or rush, and in
                        third place or higher
                    </td>
                    <td>Increase target speed 35% for 5 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_10041.png"
                        /></td
                    >
                    <td>Rainy Days</td>
                    <td>If weather rainy</td>
                    <td
                        >Guts up 40/60</td
                    >
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Early Lead</td>
                    <td
                        >If front runner, early race and 5 sec since race start
                    </td>
                    <td>Increase acceleration by 20% for 1.2s</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Rosy Outlook</td>
                    <td
                        >If medium race, in first place and mid race
                    </td>
                    <td>Stamina recovers 1.5%</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20011.png"
                        /></td
                    >
                    <td>Front Runner Straightaways</td>
                    <td>If front runner and on random straight </td>
                    <td>Increase target speed by 15% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20042.png"
                        /></td
                    >
                    <td>Taking the Lead</td>
                    <td>If front runner in early race and 5 seconds have passed</td>
                    <td>Increase acceleration 40% for 1.2 sec</td>
                </tr>
            </table>
        </div>
    </div>
    <div slot="box-right">
        <h3>parents:</h3>
        <ul>
            <li>most compatible:</li>
            <li>best sparks:</li>
            <li>best skills:</li>
        </ul>
        <h4>deck build</h4>
        <div class="small">
            <img
                src="https://img.game8.co/4217015/153838608e154b6d9fc4f2739cab45c7.png/show"
            />
            <img
                src="https://img.game8.co/4216928/014824fcd1d9de631eccb6a433409cee.png/show"
            />
            <img
                src="https://img.game8.co/4216986/1293ea3dc08e0b8251cb32e9c203fbd8.png/show"
            />
            <img
                src="https://img.game8.co/4220093/f5f333c012b66df055ff4ba4d39b1074.png/show"
            />
            <img
                src="https://img.game8.co/4216956/9de8f34382a448c0c7b0d554f8785764.png/show"
            />
            <img
                src="https://img.game8.co/4217004/a1dca6a3b7dc01d7260b61354206572b.png/show"
            />
            <img
                src="https://img.game8.co/4217005/0ae89a5a90396fd64a70e7e3ac7ff61f.png/show"
            />
            <img
                src="https://img.game8.co/4220989/f10dfe2e4cecd3e18a7534b2a791023c.png/show"
            />
        </div>
        <div class="small">
            <img
                src="https://img.game8.co/4216928/014824fcd1d9de631eccb6a433409cee.png/show"
            />
            <img
                src="https://img.game8.co/4217008/9b0fff05441ee19ba7d325d87970381a.png/show"
            />
            <img
                src="https://img.game8.co/4216976/2534fb62fff784e4c60681a94f8d463f.png/show"
            />
            <img
                src="https://img.game8.co/4216921/91b37320035a93c4d4797d5ad49278ea.png/show"
            />
            <img
                src="https://img.game8.co/4217009/addcf67073760c7d6819b1de161f8ac4.png/show"
            />
            <img
                src="https://img.game8.co/4216935/100f6b7ab85435cdc59451e65415ded4.png/show"
            />
        </div>
        <div class="small">
            <img
                src="https://img.game8.co/4216988/65712f78efdb6c1097a6f28ede3bf38a.png/show"
            />
            <img
                src="https://img.game8.co/4218617/68c4c7cdcd26a13fa87c5f083a7548e0.png/show"
            />
            <img
                src="https://img.game8.co/4216967/4f3a2e381dc8d111a93fe38c85ad99af.png/show"
            />
            <img
                src="https://img.game8.co/4216955/c4e8c1d6bdfaca1788be4f880ced0d8c.png/show"
            />
            <img
                src="https://img.game8.co/4217012/b411b9e36183d24fda36f781bc9e6a1a.png/show"
            />
            <img
                src="https://img.game8.co/4216987/5379a2f017eb00497a1964a0000d1e61.png/show"
            />
        </div>
        <div class="small">
            <img
                src="https://img.game8.co/4218616/5381cc866a49ad65f83876f47662001e.png/show"
            />
            <img
                src="https://img.game8.co/4216934/8ed4f64c8e2d6d323ef3c37497d037cc.png/show"
            />
            <img
                src="https://img.game8.co/4216940/e66e67fb539011f5dcc2538201d78d7b.png/show"
            />
            <img
                src="https://img.game8.co/4216978/65131316552f0e4da5eab402d6dc82be.png/show"
            />
        </div>
        <div class="small">
            <img
                src="https://img.game8.co/4216909/51948a362a139d9db95f858673d39164.png/show"
            />
            <img
                src="https://img.game8.co/4216919/54fb7e8c2ee829ca0d4ec498ca151171.png/show"
            />
            <img
                src="https://img.game8.co/4216915/273ed12209143b4b32b2664c5ac70333.png/show"
            />
            <img
                src="https://img.game8.co/4216948/9e6f130e4e2f5be3b66861c4c92da8fa.png/show"
            />
            <img
                src="https://img.game8.co/4216994/d4101a28256f6e1f77751492dd3d66c0.png/show"
            />
            <img
                src="https://img.game8.co/4216925/cdc63377f6c99bceb7fa4aad1ebdf636.png/show"
            />
            <img
                src="https://img.game8.co/4216918/ae698c30c34fe8a17261eeab497483e7.png/show"
            />
            <img
                src="https://img.game8.co/4216922/d680f1ccee2313f552d68ef0df152c09.png/show"
            />
        </div>
        <div class="small">
            <img
                src="https://img.game8.co/4217006/afec7558fcd9f4114e494bd8d383efe0.png/show"
            />
            <img
                src="https://img.game8.co/4216982/b37eb45e683a42665e0cd32a8db2eb9d.png/show"
            />
            <img
                src="https://img.game8.co/4216912/ad2ffcd0c5a83b819990da8aeacf4040.png/show"
            />
            <img
                src="https://img.game8.co/4216926/2bc1f9e84ecbf9679cdd487ffeaf9e26.png/show"
            />
            <img
                src="https://img.game8.co/4217007/0616c623d3f8c40f45c449cbb823efe3.png/show"
            />
            <img
                src="https://img.game8.co/4217014/a8135fb8f5e9321ab1481e325bf13107.png/show"
            />
            <img
                src="https://img.game8.co/4216999/6bac71aff0bb69cd1f4d3b0a9cffc62b.png/show"
            />
        </div>
    </div>
    <div slot="the-whole">
        <h3>URA Schedule</h3>
        <h4>overall goals</h4>
        <ul>
            <li>distances include 4 medium, 3 mile, 1 long, 1 short</li>
            <li>grades include 10 G5's</li>
        </ul>
        <h4>classic year</h4>
        <ul>
            <li>
                Early July - Run in the Radio Nikkei Show to get +3 stat boost,
                60 skills, +1 mood, and hot topic status
            </li>
        </ul>
    </div>
    <div slot="the-whole2"></div>
</UmaLayout>
