---
import UmaLayout from "../../layouts/UmaLayout.astro";
import Music from "../../components/widget/Music.astro";

const title = "rosy dream";
const cardname = "rosy dream";
const date = "06-08-2025";
const rank = "★★★★";
const racetype = "turf, med, long";
const strat = "pace chaser";
const potential = "5";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1030_103001.png";
---

<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>87</td>
                <td></td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>143</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Power</td>
                <td>86</td>
                <td></td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>125</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>109</td>
                <td></td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>Blue Rose Chaser</td>
                    <td
                        >If phase is ≥2, order is ≤4, overtaken by one uma, and
                        final straight</td
                    >
                    <td>target speed increased 35% for 5 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_30051.png"
                        /></td
                    >
                    <td>Subdued Pace Chasers</td>
                    <td
                        >If other pace chasers ≥1, race has been going for 5
                        seconds and wit check passed</td
                    >
                    <td
                        >Stamina drain on all enemy pace chasters by 1%
                        instantly</td
                    >
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Straight Descent</td>
                    <td
                        >If pace chaser, wit check passed and running downhill
                    </td>
                    <td>Acceleration increases 20% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Deep Breaths</td>
                    <td>If long distance and wit check passed </td>
                    <td>Stanima recovery 1.5% instantly</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Highlander</td>
                    <td>If running uphill and wit check passed </td>
                    <td>Increase acceleration by 20% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Determined Descent</td>
                    <td
                        >If pace chaser, wit check passed and running downhill</td
                    >
                    <td>Increase acceleration by 30% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Hydrate</td>
                    <td>If pace chaser, wit check passed and mid race</td>
                    <td>Stamina recovers 1.5% instantly</td>
                </tr>
            </table>
        </div>
    </div>

    <div slot="box-right">
        <h3>URA Build</h3>
        <ul>
            <li>
                <b>Goal stats:</b> - 1000 speed, 1000 stam, 600 power, 400 guts,
                300 wit
            </li>
            <li>
                <b>SSR Recs:</b> on my first A rank I did 2 speed, 3 stam and one
                power, but in hindsight I would recommend a friendship card because
                of her many mood swings
            </li>
            <div class="small">
                <img
                    src="https://img.game8.co/4216918/ae698c30c34fe8a17261eeab497483e7.png/show"
                />
                <img
                    src="https://img.game8.co/4216916/3c352856b5348f43d8c4f057c6a40b84.png/show"
                />
                <img
                    src="https://img.game8.co/4216926/2bc1f9e84ecbf9679cdd487ffeaf9e26.png/show"
                />
                <img
                    src="https://img.game8.co/4218616/5381cc866a49ad65f83876f47662001e.png/show"
                />
                <img
                    src="https://img.game8.co/4216919/54fb7e8c2ee829ca0d4ec498ca151171.png/show"
                />
                <img
                    src="https://img.game8.co/4216917/9b0f5878cb94b64a49393cb84ecc54d8.png/show"
                />
            </div>
            <li>
                <b>legacy sparks:</b>9★ speed, 5★ long or pace
            </li>
            <li>
                <b>Parents:</b> Super Creek (great stamina) and TM Opera O ()
            </li>
            <li>
                <b>Skills:</b><ul>
                    <li>As many useful stamina recovery skills as you can</li>
                    <li>Long/ Pace Chaser Corners</li>
                    <li>Straightaway Adept</li>
                    <li>Gourmand</li>
                </ul>
            </li>
        </ul>
        <h3>other notes</h3>
        <ul>
            <li>
                Increasing mileage aptitude will make scenario clearing more
                stable
            </li>
            <li>
                I wouldn't rank her as a high useful card because of her shitty
                ult skill, but she has a sentimental place in my heart so I
                leveled her to 4.
            </li>
        </ul>
    </div>
    <div slot="the-whole">
        <h3>URA Schedule</h3>
        <h4>junior year : dont waste your freetime</h4>
        <ul>
            <li><b>12</b> Make Debut [Turf – 2000m – Medium]</li>
        </ul>
        <h4>
            Classics goals stats: 500-600 speed, 500-600 stam, 350-400 power
        </h4>
        <ul>
            <li>Aim for speed 350 by the Spring S in early March</li>
            <li>
                <b>30</b> 5th or better in the Spring Stakes [G2 – Turf – 1800m –
                Mile]
            </li>
            <li>
                <b>34</b> 5th or better in the Tokyo Yushun (Japan Derby) [G1 – Turf
                – 2400m – Medium]
            </li>
            <li>Aim for stamina 300 by the Japan Derby in late May</li>
            <li>
                <b>44</b>3rd or better in the Kikuka Sho [G1 – Turf – 3000m –
                Long]
            </li>
            <li>Aim for stamina 500 by the Kikuka Sho in late October</li>
        </ul>
        <h4>Senior goal stats: 800-1000 speed, 900-1000 stam, 600-700 power</h4>
        <ul>
            <li><b>54</b> 3rd or better in the Nikkei Sho []</li>
            <li>
                Aim for stamina 600 by the Emperor's Cup Spring in late April
            </li>
            <li>
                <b>56</b> 1st in the Tenno Sho (Spring) [G1 – Turf – 3200m – Long]
            </li>
            <li>
                <b>60</b> 3rd or better in the Takarazuka Kinen [G1 – Turf – 2200m
                – Medium]
            </li>
            <li><b>72</b> 1st in the Arima Kinen [G1 – Turf – 2500m – Long]</li>
        </ul>
    </div>
    <div slot="the-whole2">
        <img
            src="https://64.media.tumblr.com/9b57a24d5bacc1dee28e7dcbfcabb963/57cd3f6a4b5c3deb-c9/s2048x3072/864e9696a783bc1c9a9eb8b544bad663de0e93e0.pnj"
            style="max-width: 100%;"
        />
        <div id="music" class="flex flex-col w-full gap-4">
            <div id="music" class="flex flex-col w-full gap-4">
                <Music
                    songname="ささやかな祈り (Small Prayer) "
                    songlink="https://file.garden/aOJjY5VloELMsNHX/%E3%81%95%E3%81%95%E3%82%84%E3%81%8B%E3%81%AA%E7%A5%88%E3%82%8A.mp3"
                    songcover="https://media1.tenor.com/m/-O1beb3o9k8AAAAd/uma-musume-umamusume.gif"
                />
            </div>
        </div>
        <p>
            Sweet baby Rice - my darling daughter. While her card really isn't
            that impressive I have such a soft spot for this sweet goth baby. I
            love her no matter how insanely long her ears are in proportion to
            the rest of her body. I first got to know her in season 2 of the
            anime - and damn getting booed despite having such a successful good
            race was a gut punch. I felt for her man.
        </p>
        <div class="large">
            <img src="/umpd/rs1.jpg" alt="c'mon rice you can do this yeah" />
        </div>
        <img
            src="https://64.media.tumblr.com/81b29785bbc67647a2d93af1a96c498f/57cd3f6a4b5c3deb-e4/s2048x3072/e1a22e5d46881c283f769f723fe57648f121b0dd.pnj"
            style="max-width: 100%;"
        />
    </div>
</UmaLayout>
