---
import UmaLayout from "../../layouts/UmaLayout.astro";

const title = "rosy dream";
const cardname = "rosy dream";
const date = "06-08-2025";
const rank = "★★★★";
const racetype = "turf, med, long";
const strat = "pace chaser";
const potential = "3";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1030_103001.png";
---

<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>79</td>
                <td></td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>130</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Power</td>
                <td>78</td>
                <td></td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>114</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>99</td>
                <td></td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>Blue Rose Chaser</td>
                    <td
                        >If phase is ≥2, order is ≤4, overtaken by one uma, and
                        final straight</td
                    >
                    <td>target speed increased 35% for 5 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_30051.png"
                        /></td
                    >
                    <td>Subdued Pace Chasers</td>
                    <td
                        >If other pace chasers ≥1, race has been going for 5
                        seconds</td
                    >
                    <td
                        >Stamina drain on all enemy pace chasters by 1%
                        instantly</td
                    >
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Straight Descent</td>
                    <td>If pace chaser and running downhill </td>
                    <td>Acceleration increases 20% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Deep Breaths</td>
                    <td>If long distance </td>
                    <td>Stanima recovery 1.5% instantly</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Highlander</td>
                    <td>If running uphill </td>
                    <td>Increase acceleration by 20% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Determined Descent</td>
                    <td>If pace chaser, and running downhill</td>
                    <td>Increase acceleration by 30% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Hydrate</td>
                    <td>If pace chaser and mid race</td>
                    <td>Stamina recovers 1.5% instantly</td>
                </tr>
            </table>
        </div>
    </div>
</UmaLayout>
<div slot="box-right">
    <h3>parents:</h3>
    <ul>
        <li>most compatible:</li>
        <li>best sparks:</li>
        <li>best skills:</li>
    </ul>
    <h4>deck build</h4>
    <div class="small">
        <img
            src="https://img.game8.co/4217015/153838608e154b6d9fc4f2739cab45c7.png/show"
        />
        <img
            src="https://img.game8.co/4216928/014824fcd1d9de631eccb6a433409cee.png/show"
        />
        <img
            src="https://img.game8.co/4216986/1293ea3dc08e0b8251cb32e9c203fbd8.png/show"
        />
        <img
            src="https://img.game8.co/4220093/f5f333c012b66df055ff4ba4d39b1074.png/show"
        />
        <img
            src="https://img.game8.co/4216956/9de8f34382a448c0c7b0d554f8785764.png/show"
        />
        <img
            src="https://img.game8.co/4217004/a1dca6a3b7dc01d7260b61354206572b.png/show"
        />
        <img
            src="https://img.game8.co/4217005/0ae89a5a90396fd64a70e7e3ac7ff61f.png/show"
        />
        <img
            src="https://img.game8.co/4220989/f10dfe2e4cecd3e18a7534b2a791023c.png/show"
        />
    </div>
    <div class="small">
        <img
            src="https://img.game8.co/4216928/014824fcd1d9de631eccb6a433409cee.png/show"
        />
        <img
            src="https://img.game8.co/4217008/9b0fff05441ee19ba7d325d87970381a.png/show"
        />
        <img
            src="https://img.game8.co/4216976/2534fb62fff784e4c60681a94f8d463f.png/show"
        />
        <img
            src="https://img.game8.co/4216921/91b37320035a93c4d4797d5ad49278ea.png/show"
        />
        <img
            src="https://img.game8.co/4217009/addcf67073760c7d6819b1de161f8ac4.png/show"
        />
        <img
            src="https://img.game8.co/4216935/100f6b7ab85435cdc59451e65415ded4.png/show"
        />
    </div>
    <div class="small">
        <img
            src="https://img.game8.co/4216988/65712f78efdb6c1097a6f28ede3bf38a.png/show"
        />
        <img
            src="https://img.game8.co/4218617/68c4c7cdcd26a13fa87c5f083a7548e0.png/show"
        />
        <img
            src="https://img.game8.co/4216967/4f3a2e381dc8d111a93fe38c85ad99af.png/show"
        />
        <img
            src="https://img.game8.co/4216955/c4e8c1d6bdfaca1788be4f880ced0d8c.png/show"
        />
        <img
            src="https://img.game8.co/4217012/b411b9e36183d24fda36f781bc9e6a1a.png/show"
        />
        <img
            src="https://img.game8.co/4216987/5379a2f017eb00497a1964a0000d1e61.png/show"
        />
    </div>
    <div class="small">
        <img
            src="https://img.game8.co/4218616/5381cc866a49ad65f83876f47662001e.png/show"
        />
        <img
            src="https://img.game8.co/4216934/8ed4f64c8e2d6d323ef3c37497d037cc.png/show"
        />
        <img
            src="https://img.game8.co/4216940/e66e67fb539011f5dcc2538201d78d7b.png/show"
        />
        <img
            src="https://img.game8.co/4216978/65131316552f0e4da5eab402d6dc82be.png/show"
        />
    </div>
    <div class="small">
        <img
            src="https://img.game8.co/4216909/51948a362a139d9db95f858673d39164.png/show"
        />
        <img
            src="https://img.game8.co/4216919/54fb7e8c2ee829ca0d4ec498ca151171.png/show"
        />
        <img
            src="https://img.game8.co/4216915/273ed12209143b4b32b2664c5ac70333.png/show"
        />
        <img
            src="https://img.game8.co/4216948/9e6f130e4e2f5be3b66861c4c92da8fa.png/show"
        />
        <img
            src="https://img.game8.co/4216994/d4101a28256f6e1f77751492dd3d66c0.png/show"
        />
        <img
            src="https://img.game8.co/4216925/cdc63377f6c99bceb7fa4aad1ebdf636.png/show"
        />
        <img
            src="https://img.game8.co/4216918/ae698c30c34fe8a17261eeab497483e7.png/show"
        />
        <img
            src="https://img.game8.co/4216922/d680f1ccee2313f552d68ef0df152c09.png/show"
        />
    </div>
    <div class="small">
        <img
            src="https://img.game8.co/4217006/afec7558fcd9f4114e494bd8d383efe0.png/show"
        />
        <img
            src="https://img.game8.co/4216982/b37eb45e683a42665e0cd32a8db2eb9d.png/show"
        />
        <img
            src="https://img.game8.co/4216912/ad2ffcd0c5a83b819990da8aeacf4040.png/show"
        />
        <img
            src="https://img.game8.co/4216926/2bc1f9e84ecbf9679cdd487ffeaf9e26.png/show"
        />
        <img
            src="https://img.game8.co/4217007/0616c623d3f8c40f45c449cbb823efe3.png/show"
        />
        <img
            src="https://img.game8.co/4217014/a8135fb8f5e9321ab1481e325bf13107.png/show"
        />
        <img
            src="https://img.game8.co/4216999/6bac71aff0bb69cd1f4d3b0a9cffc62b.png/show"
        />
    </div>
</div>
<div slot="the-whole">
    <h3>URA Schedule</h3>
    <h4>overall goals</h4>
    <ul>
        <li>Long distance and leading are recommended for training.</li>
        <li>Focus on speed and stamina</li>
        <li>
            If you have the time, it is recommended to raise the awakening level
            to 5.
        </li>
        <li>
            Increasing mileage aptitude will make scenario clearing more stable
        </li>
        <li>distances include 3 medium, 1 mile, and 4 long</li>
        <li>grades include 1 debut, 2 G2's, and 5 G5's</li>
    </ul>
    <h4>junior year : dont waste your freetime</h4>
    <ul>
        <li>Prioritize rainbow training as always</li>
    </ul>
    <h4>Classics goals stats: 500-600 speed, 500-600 stam, 350-400 power</h4>
    <ul>
        <li>Aim for speed 350 by the Spring S in early March</li>
        <li>Aim for stamina 300 by the Japan Derby in late May</li>
        <li>
            Maintain high physical strength by taking time off before summer
            training camp
        </li>
        <li>Aim for stamina 500 by the Kikuka Sho in late October</li>
    </ul>
    <h4>End goal stats: 800-1000 speed, 900-1000 stam, 600-700 power</h4>
    <ul>
        <li>Aim for stamina 600 by the Emperor's Cup Spring in late April</li>
        <li>
            If intelligence is likely to fall below 300, also train intelligence
        </li>
        <li>Acquire stamina recovery skills as much as possible</li>
    </ul>
</div>
<div slot="the-whole2"></div>
