---
import UmaLayout from "../../layouts/UmaLayout.astro";
import Music from "../../components/widget/Music.astro";

const title = "smart falcon";
const cardname = "Absolute ☆ LOVE";
const date = "08-11-2025";
const rank = "★★★";
const racetype = "dirt, mile, med";
const strat = "front";
const potential = "3";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1046_104601.png";
---

<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>94</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>85</td>
                <td></td>
            </tr>
            <tr>
                <td>Power</td>
                <td>85</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>100</td>
                <td></td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>86</td>
                <td></td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>SPARKLY☆STARDOM</td>
                    <td
                        >If one uma is less than 1 horse length behind, on a
                        corner, order is ≤2, and mid race</td
                    >
                    <td
                        >target speed increased 25% and acceleration 30% for 5
                        sec</td
                    >
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20051.png"
                        /></td
                    >
                    <td>Prudent Positioning</td>
                    <td>Random point</td>
                    <td>Increase lane movement speed by 2.5% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_10051.png"
                        /></td
                    >
                    <td>Front Runner Savvy </td>
                    <td>If front runner </td>
                    <td>Wisdom stat up 40/60, Increase field of view 5/10</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20011.png"
                        /></td
                    >
                    <td>Top Pick </td>
                    <td>If long distance </td>
                    <td>Increase target speed by 15% for 1.8s</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_10031.png"
                        /></td
                    >
                    <td>Wet Conditions</td>
                    <td>If track is slightly heavy, heavy, or bad </td>
                    <td>Power up 40/60</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20052.png"
                        /></td
                    >
                    <td>Center Stage</td>
                    <td>If early race</td>
                    <td>Increase lane movement speed 3.5% for 3 sec</td>
                </tr>
            </table>
        </div>
    </div>
    <div slot="box-right">
        <h3>URA Build</h3>
        <ul>
            <li>
                <b>Goal stats:</b> - # speed, # stam, # power, # guts, # wit
            </li>
            <li><b>Support Recs:</b></li>
            <div class="small">
                <!--images for support cards here -->
            </div>
            <li>
                <b>Parents:</b>
            </li>
            <li>
                <b>legacy sparks:</b>9★
            </li>
            <li>
                <b>Skills:</b><ul>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
    <div slot="the-whole">
        <h3>URA Schedule</h3>
        <h4>overall goals</h4>
        <ul>
            <li>Can technically raise turf but best used for dirt medium</li>
            <li>distances include 7 medium, 3 mile</li>
            <li>grades include 10 G5's</li>
        </ul>
        <h4>junior year : dont waste your freetime</h4>
        <ul>
            <li>Prioritize rainbow training as always</li>
        </ul>
    </div>
    <div slot="the-whole2">
        <div class="large">
            <img src="/umpd/smpicprev.png" />
            <img src="/umpd/smeditlove.png" />
        </div>
    </div>
</UmaLayout>
