---
import UmaLayout from "../../layouts/UmaLayout.astro";
import Music from "../../components/widget/Music.astro";

const title = "Taiki Shuttle";
const cardname = "Wild Frontier";
const date = "07-03-2025";
const rank = "★★★";
const racetype = "turf, dirt, mile, sprint";
const strat = "pace";
const potential = "3";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1010_101001.png";
---

const date = "07-03-2025"; const rank = "★★★"; const racetype = "turf, dirt,
mile, sprint"; const strat = "pace"; const potential = "3";
<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>96</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>71</td>
                <td></td>
            </tr>
            <tr>
                <td>Power</td>
                <td>98</td>
                <td></td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>93</td>
                <td></td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>92</td>
                <td>10%</td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>Shooting for Victory! </td>
                    <td
                        >If on later half of final corner coming out, order is
                        3rd or further, and in the top 40% of the pack</td
                    >
                    <td>Increase acceleration 40% for 5 sec</td>
                </tr>
            </table>
        </div>
    </div>
    <div slot="box-right">
        <h3>URA Build</h3>
        <ul>
            <li>
                <b>Goal stats:</b> - # speed, # stam, # power, # guts, # wit
            </li>
            <li><b>Support Recs:</b></li>
            <div class="small">
                <!--images for support cards here -->
            </div>
            <li>
                <b>Parents:</b>
            </li>
            <li>
                <b>legacy sparks:</b>9★
            </li>
            <li>
                <b>Skills:</b><ul>
                    <li></li>
                </ul>
            </li>
        </ul>
        <h3>other notes</h3>
        <ul>
            <li></li>
        </ul>
    </div>
    <div slot="the-whole">
        <h3>URA Schedule</h3>
        <h4>overall goals</h4>
        <ul>
            <li>Most skills focus on idea of getting into a good postition</li>
        </ul>
        <h4>classic year</h4>
        <ul>
            <li></li>
        </ul>
        <h4>senior year</h4>
        <ul>
            <li></li>
        </ul>
    </div>
    <div slot="the-whole2">
        <img src="https://i.postimg.cc/xCVq3Cwz/IMG_9173.gif" />
        <p>
            I love a good foreign idiot trope. We really needed a solid cowgirl
            yeehaw character in this line up. Taiki is pure and simple and I
            like her as she is.
        </p>
        <img src="https://i.postimg.cc/W37pm7mB/IMG_9169.png" />
        <p>
            dividers sourced from <a href="https://www.tumblr.com/pueriled"
                >@pueriled
            </a>
        </p>
    </div>
</UmaLayout>
